---



---

<html lang="en">
	<head>
		<meta charset="utf-8" /> 
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			.canvas {
				border:1px solid black;
				border-radius: 16px;
			}
		</style>
		
	</head>
	<body>
		<h1>Astro2</h1>
		<canvas id="c1" width="200" height="200" class="canvas"></canvas>
		<script  src="../scripts/logic.ts" />
	</body>
</html>
